{% extends 'layout.html.twig' %}

{% block content %}

    {% block main '' %}

    <hr />

    <div>
        {{ include('task/doc.svg.twig') }}
    </div>
    
    <h2>Show Login Message</h2>
    {% if user_flow_login_message_state()=='show' %}
        {{user_flow_login_message_hide_state()}}
        
        {% block javascript %}
        <script type="text/javascript">
            
            var remote_modal = function(url) {
    // reset modal body with a spinner or empty content
    spinner = "<div class='text-center'><i class='fa fa-spinner fa-spin fa-5x fa-fw'></i></div>"

    $("#myModal.modal-body").html(spinner)
    $("#myModal.modal-body").load(url);
    $("#myModal").modal("show");
  }
            $(window).on('load', function() {remote_modal('userflow/showModal')});
            //$(window).on('load', function() {$('#myModal').modal('show');});
        </script>
        {% endblock %}

        
    {% endif %}
    {{user_flow_login_message_state()}}
    {{user_flow_login_message_hide_state()}}

       <h2>Activate Modal with JavaScript</h2>

       
       <!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>



<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


       
  
</div>


        
{% endblock %}

